#company-select {
  padding: 25px;
  margin-top: 25px;
}

.company {
  width: 325px;
}

.mmo, .eic, .vru {
  transition: all 0.3s ease;
}

.mmo:hover, .eic:hover, .vru:hover {
  cursor: pointer;
}

.mmo:hover {
  box-shadow: 0px 0px 20px 0px #6c3d23;
}

.eic:hover {
  box-shadow: 0px 0px 20px 0px #5a7a9c;
}

.vru:hover {
  box-shadow: 0px 0px 20px 0px #409349;
}

@media screen and (max-width: 1280px) {
  .company {
    width: 200px;
  }
}
