#data {
  padding: 10px 25px;
  margin-top: 25px;
}

#profile, #hall-of-fame {
  padding: 15px;
}

#profile .profile-informations {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#profile .profile-informations p {
  margin-bottom: 5px;
}
