Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ files/redirect.php?p=$1

RewriteRule ^files/config.php files/redirect.php?p=error
RewriteRule ^files/external/ files/redirect.php?p=error
RewriteRule ^files/classes/ files/redirect.php?p=error

RewriteRule ^.git/ files/redirect.php?p=error
RewriteRule ^.gitignore files/redirect.php?p=error
RewriteRule ^README.md files/redirect.php?p=error
RewriteRule ^server.sql files/redirect.php?p=error

ErrorDocument 400 /files/redirect.php?p=error
ErrorDocument 401 /files/redirect.php?p=error
ErrorDocument 403 /files/redirect.php?p=error
ErrorDocument 404 /files/redirect.php?p=error
ErrorDocument 500 /files/redirect.php?p=error
ErrorDocument 502 /files/redirect.php?p=error
ErrorDocument 504 /files/redirect.php?p=error

<IfModule mod_headers.c>
  Header always set X-XSS-Protection "1; mode=block"
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-FRAME-OPTIONS "DENY"
  <FilesMatch "\.(jpeg|jpg|css|js|json|xml|woff|woff2|ttf|ico)$">
    Header set Cache-Control "must_revalidate, public, max-age=31536000"
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  <FilesMatch "\.(html|txt|css|js|json|xml|php|pl)$">
     SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
